@model Natural_Age.Models.Tratamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tratamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cita.CitaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cita.CitaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TratamientoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
